@media only screen and (max-width: 650px) {

 .background {
   /* height: 100vh; */
   /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../assets/rb_.png"); */
   margin: 30px 0 0 30px;
   background-size: auto 100%;
   background-repeat: no-repeat;
   background-position: left bottom;
   }
   .color-block {
      width: 80vw;
   }
   .me, .me a.email, .temporary i, .me a.email:hover, .me a.email:before {
      color: #dddddd;
   }
   .me a.email:before {
      background-color: #dddddd;
   }

   .intouch {
      padding: 60px 30px;
   }
}

@media only screen and (max-width: 850px) {
   .background {

   }

}
