/* BASE */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700');
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

h4 {
    font-weight: 400;
    color: #000;
    margin-top: 16px;
    font-size: 30px;
}

i {
    color: #000;
    font-size: 20px;
}

.header {
    /* padding-bottom: 30px; */
    position: relative;
}

.header a {
    position: relative;
    z-index: 999;
}

.portfolio {
    padding: 40px 0 0 40px;
}

.page-container {
    position: absolute;
    padding: 40px 0 40px 40px;
    margin: 30px 30px 0 0;
    right: 0;
    top: 0;
    display: flex;
    align-items:flex-start;
}

.grid {
    display: flex;
    flex-flow: column;
}

.page {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    margin: 15px 10px;
    background:url('../assets/background.svg') no-repeat 100% 100% fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.page#hfd,
.page#seen {
    background: unset;
}

.page.white {
    background: unset;
    background-color: #fff;
    z-index: -1;
}

.page#hfd {
    background-color: rgba(174, 148, 238, 1);
}

#hfd img {
    height: 45px;
    margin: 12px;
    float: right;
}

#hfd p {
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding-left: 2px;
    padding-top: 160px;
}

.page#seen {
    background-color: rgba(255, 236, 218, 1);
    /* background-color: rgba(133, 103, 72, 1); */
}

#seen p {
    color: rgba(133, 103, 72, 1);
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding-left: 2px;
    padding-top: 160px;
}

#seen img {
    height: 12px;
    margin: 20px;
    float: right;
}

.card-click {
    cursor: pointer;
    z-index: 999;
}

@media only screen and (max-width: 650px) {
    .page-container {
        margin-top: 70px;
    }
    .page {
        width: 90px;
        height: 90px;
    }
    .page p {
        display: none;
    }
    .page#seen img {
        height: 9px;
    }
}

/* #hfd a:hover {
    color: #fff;
    text-decoration: none;
} */

/* #hfd img.drink {
    height: 150px;
    position: absolute;
} */

/* Andrew's Coffee & Seen */

.outer-page {
    height:100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.outer-page .header {
    margin: 40px;
}

.middle {
    display: flex;
    flex-direction: row;
    white-space: normal;
    overflow: hidden;
    overflow-x: auto;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
    margin: 50px 0;
}

.middle img {
    height: 450px;
    flex-shrink: 0;
    border-radius: 12px;
    margin: 0 10px;
}

.middle img:nth-child(1) {
    margin-left: 40px;
}

.middle img:last-child {
    margin-right: 40px;
}

.middle img.desktop {
    height: 450px;
}